@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: thistle;

}

a:link{
  color: purple;
}
a:active{
  color: white; 
}
.page01mainContainer{
  display: flex;
  flex-direction: column;
}

.menuBar{
  background-color: plum;
  color: purple;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 75px;
  font-size: 30px;
}

.imagelogo{
  max-width: 70px;
  max-height: 70px;
}
.navLink{
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
}
.imagepetLogo{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.heroSection{
  display: flex;
  height: 650px;
  background-image: url('abandoned_pet_copy.jpeg');
  background-size: cover;
  background-position: center center;
  color: plum;
  align-items: flex-end;
  justify-content: center;
  font-size: 32px;
}

.page01content{
  color: purple;
  margin-left: 50px;
  margin-right: 50px;
}

.page01Heading{
  font-size: 44px;
  display: flex;
  justify-content: flex-start;
}

.page01Subheading{
  opacity: 60%;
  z-index: +99;
  font-size: 34px;
  justify-content: flex-start;
}
.paragraphPage01{
  color: black;
  font-size: 32px;
}

.page01Heading02{
  font-size: 36px;
}

.thumbnailContanier{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnailItem{
  width: 100%;
}

.thumbnailImage{
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.thumbnailItem > p{
  text-align: center;
  font-size: 24px;
}

.caption01{
  color: black;
}

.caption02{
  color: black;
}

.sources{
  font-size: 24px;
  color: black;
}

.sourceLink{
  text-decoration: none;
  font-size: 20px;
}

.page02Content{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 32px;
}

.page02Heading{
  color: purple;
  margin-top: 100px;
  font-size: 44px;
}

.page02Subheading{
  color: purple;
  margin-top: 100px;
  font-size: 36px;
}

.page03content{
  margin-left: 50px;
  margin-right: 50px;
}

.page03heading{
  display: flex;
  justify-content: center;
  color: purple;
  font-size: 44px;
}

.thumbnailContanierPage03{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnailItemPage03{
  width: 100%;
}

.thumbnailImagePage03{
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.page03subheading{
  display: flex;
  justify-content: center;
  color: purple;
  font-size: 36px;
}

.helpfulTipList{
  font-size: 32px;
}
